/* media queries  */

@media only screen and (max-width: 1000px) 
{

    .navbarLinks
    {
        width: 100%;
        justify-content: center;
    }

    .navbarLinks a
    {
        color: white;
        text-decoration: none;
    }

} 


@media only screen and (max-width: 676px)
{

    .categoriesDiv p
    {
        display: none;
    }
}  

@media only screen and (max-width: 576px)
{
    .multi-carousel
    {
        /* padding: 0% 2%; */
        width: 100%;
        margin: auto;
    }

    .ad_div
    {
        width: 100%;
        margin: auto;
        
    }

    .carousel-container{
        display: inline-block !important;
        width: 100%;
    }

    .carouselHeader
    {
        font-size: 12px;
    }

    .viewAll-btn
    {
        font-size: 10px;
        font-weight: bold;
    }

    .clockImg
    {
        display: none;
    }

    .timeLeft
    {
        margin: 0% 2%;
    }

    .colDiv
    {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
} 

/* navbar css  */



.navbar 
{
    background-color: #2375f0;
    font-size: 12px;
}

.searchBar
{

    font-size: 12px;

}

.search-btn
{
    margin-left: -8%;
    z-index: 1;
}

.loginButton
{
    background-color: white;
    font-size: 14px;
}

.navbarLinks a
{
    color: white;
    text-decoration: none;
}


/* navbar css ends  */





/* categories css starts  */

.categoriesDiv
{
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    font-size: 12px;
    font-weight: bold;
}

.categoryDiv img
{
    width: 100%;
    height: auto;
}

.categoryDiv p
{
    text-align: center;
}

.categoryDiv
{
    max-height: 100px;
    max-width: 100%;
}



/* carousel css  starts */


.carousel-container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.multi-carousel
{
    padding: 0% 2%;
    width: 80%;
}


.ad_div
{
    padding: 2% 1% 0% 0%;
    width: 20%;
}



.timeLeft
{
    color: black;
    opacity: 65%;
}

.carouselHeader
{
    display: flex;
    justify-content: space-between;
}


.span1
{
    font-size: 12px;
    font-weight: bold;
}

.span2
{
    color: green;
    font-size: 12px;
    font-weight: bold;
}

.span3
{
    font-size: 12px;
    font-weight: bold;
    opacity: 75%;
}

.carousel-item
{
    text-align: center;
}


